@import "tailwindcss";

/* App.css or a global CSS file */
body::before {
  content: "SAMPLE";
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-30deg);
  font-size: 100px;
  color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
  z-index: 0;
  white-space: nowrap;
}

/* globals.css */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float-animation {
  animation: float 3s ease-in-out infinite;
}

@keyframes swell {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.swell-animation {
  animation: swell 0.1s ease-in-out;
}
